body {
    background-color: lightblue;
    color:  maroon;
    font-family: Arial;
    margin: 0px;
}
main {
    color:  darkgreen;
    font-family: Arial;
    margin: 10px 20px 38.4px;
}
footer {
    background-color: black;
    color:  lightgreen;
    font-family: Arial;
    margin: 0px;
    padding: 10px;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
header {
    background-color: black;
    color:  lightgreen;
    font-family: Arial;
    margin: 0px;
    padding: 10px;
    text-align: left;
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
}
a {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    color: blue;
    text-decoration: underline;
    text-shadow: 1px 1px 2px gray;
}

a:visited {
    color: purple;
    text-decoration: underline;
    text-shadow: 1px 1px 2px darkgray;
}
a:hover {
    color: red;
    text-decoration: underline;
    background-color: black;
    text-shadow: 5px 5px 5px black;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
}
div.menu {
    border: 7px solid #00880080;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 4px 10px darkgreen;
}
div.menu:hover {
    background-color: #00ff3c30;
    box-shadow: 0 0 15px #000000;
}